[Unit]
Description=Mount-NFS-Share

[Mount]
What=192.168.50.10:/var/nfs/
Where=/mnt/share/
Type=nfs
Options=defaults,vers=3,proto=udp

[Install]
WantedBy=multi-user.target

